<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: chartreuse;">
   <h1>About Mango Tree</h1>
   <hr>
   <p> mango is an edible stone fruit produced by the tropical tree Mangifera indica.<br>
    It originated from the region between northwestern Myanmar, Bangladesh, and northeastern India.</p>
    <a href="../BCA.html">BACK TO HAME</a>
    
</body>
</html>